body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #4facfe, #00f2fe);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: white;
    padding: 25px;
    border-radius: 15px;
    width: 300px;
    text-align: center;
}

input {
    width: 80%;
    padding: 8px;
    margin-top: 10px;
}

button {
    margin-top: 10px;
    padding: 8px 15px;
    border: none;
    border-radius: 8px;
    background: #4facfe;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #00c6fb;
}

.reiniciar {
    background: #ff7675;
}

.reiniciar:hover {
    background: #d63031;
}
